<!DOCTYPE html>
<html>
<head>
	<title>Connect 4</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<h1>Welcome to Connect 4</h1>

	<div id="play_move">
	
	<h2>Play Move</h2>
	<form action="/play_move" method="post">
		<input type="text" name="move"><br>
		<input type="submit" value="Play">
	</form>
	
	<div id="content"><%= @move %></div>
	<div id="content">
			
	<%$matrix.each do |row|%>
	<%str = ' '+row.join(' ')%><br>
	<%=str%>
	<%end%>
	</div>
	 

	


</body>
</html>