<!DOCTYPE html>
<html>
<head>
	<title>Connect 4</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<h1>Welcome to Connect 4</h1>

	<input type="text" name="move">
	<input type="submit" value="Play Move">

<!-- 	<form action="delete" method="post" id="edit">

	</form>  -->




</body>
</html>