* { box-sizing: border-box; }

html { font-size: 100%; }

@font-face{
	font-family: 'Montserrat-Bold';
	font-style: normal;
	src:'../fonts/Montserrat-Bold.ttf';
}

@font-face{
	font-family: 'Montserrat-ExtraBold';
	src:'../fonts/Montserrat-ExtraBold.ttf';
}

body {
	/* background-color: #465060; */
	/*background-color: #F0F0F0;*/
	font-family:'Open Sans', sans-serif;
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 10%;
}

#content{
	width: 200px;
	min-width: 200px;
	margin: auto;
	background-color: blue;
	align-items: center;
	color: white;
	border-radius: 20px;
	padding-bottom: 30px;

}